version: "3.8"

x-dotnet-service: &dotnet-service
  build: .
  image: approov/dotnet:6.0
  working_dir: /home/developer/workspace
  environment:
    ASPNETCORE_ENVIRONMENT: Development
  restart: unless-stopped

services:
  unprotected-server:
    <<: *dotnet-service
    command: dotnet run --urls http://0.0.0.0:8001
    ports:
      - ${HOST_IP:-127.0.0.1}:8001:8001
    volumes:
      - ./servers/hello/src/unprotected-server:/home/developer/workspace

  approov-token-check:
    <<: *dotnet-service
    command: dotnet run --urls http://0.0.0.0:8111
    ports:
      - ${HOST_IP:-127.0.0.1}:8111:8111
    volumes:
      - ./servers/hello/src/approov-protected-server/token-check:/home/developer/workspace
